/* Actual IceFont */
@font-face {
  font-family: "IceFont";
  src: url("/fonts/Icefont-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IceFontItalic";
  src: url("/fonts/Icefontitalic-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.ice-font {
  font-family: "IceFont", cursive, sans-serif;
}

.ice-font-italic {
  font-family: "IceFontItalic", cursive, sans-serif;
}
